<div class="column row">
  <div class="callout large">
    <h1>Ficha de concordancia</h1>
    <ul>
      <li>Palabra: {{a hasWord textProp="label"}}</li>
      <li>Párrafo: {{a hasParagraph textProp="paragraphText"}}</li>
      <li>Página: {{page}}</li>
      <li>Posición: {{position}}</li>
    </ul>
  </div>
</div>

<tr>
    <td></td>
    <td>{{wordInConcordance this.[@id]}}</td>
</tr>