<div class="column row">
<h1>Ficha de concordancia</h1>
<dl>
  <dt>Palabra</dt><dd>{{a hasWord textProp="label"}}</dd>
  <dt>Obra</dt><dd>{{book hasParagraph}}</dd>
  <dt>Página</dt><dd>{{page}}</dd>
  <dt>Párrafo anterior</dt><dd class="par">{{prevP hasParagraph}}</dd>
  <dt>Párrafo</dt><dd class="par">{{concordanceP hasParagraph textProp="paragraphText"}}</dd>
  <dt>Párrafo siguiente</dt><dd class="par">{{nextP hasParagraph}}</dd>
  <dt>Posición</dt><dd>{{position}}</dd>
</dl>
</div>
