<div class="callout large">
<h1>Ficha de concordancia</h1>
<dl>
  <dt>Palabra</dt><dd>{{a hasWord textProp="label"}}</dd>
  <dt>Obra</dt><dd>{{book hasParagraph}}</dd>
  <dt>Página</dt><dd>{{page}}</dd>
  <dt>Párrafo</dt><dd>{{a hasParagraph textProp="paragraphText"}}</dd>
  <dt>Posición</dt><dd>{{position}}</dd>
</dl>
</div>

