<!--<div class="callout large">-->
    <!--<div class="column row">-->
        <!--<h1>COTEAM: Corpus de Textos Aljamiado-Moriscos</h1>-->
        <!--<form role="search" action="/search">-->
            <!--<div class="input-group">-->
                <!--<span class="input-group-label"><i class="fi-magnifying-glass"></i></span>-->
                <!--<input type="search" class="input-group-field keyboard" placeholder="Buscar palabra" name="q">-->
                <!--<a class="input-group-button button" onclick="$('form').submit();">Buscar</a>-->
            <!--</div>-->
        <!--</form>-->
        <!--<button class="open button" onclick="$('.keyboard').getkeyboard().reveal();">Mostrar teclado de símbolos</button>-->
    <!--</div>-->
<!--</div>-->
<!--<div class="column row">-->
    <!--<h1>Listado de obras</h1>-->
<!--</div>-->
<!--<div class="row small-up-1 medium-up-2 large-up-4">-->
    <!--{{#hasBook}}-->
        <!--<div class="column">-->
            <!--<a href="{{this}}">{{img this}}</a>-->
            <!--<strong>{{a this textProp="label"}}</strong>-->
        <!--</div>-->
    <!--{{/hasBook}}-->
<!--</div>-->

<div class="callout large" style="border-bottom: 0px">
    <h1>Listado de obras</h1>
    <ul>
        {{#hasBook}}
            <li><a href="{{this}}">{{a this textProp="label"}}</a></li>
        {{/hasBook}}
    </ul>
</div>