  <div class="callout large">
    <h1>Ficha de texto</h1>
      <dl>
          <dt>Título</dt><dd>{{originalTitle}}</dd>
          <dt>Descripción</dt><dd>{{description}}</dd>
          <dt>Fecha de publicación</dt><dd>{{firstPublicationDate}}</dd>
          <dt>Idioma original</dt><dd>{{originalLanguage}}</dd>
          <dt>ISBN</dt><dd>{{isbn}}</dd>
      </dl>
      <a href="{{sameAs}}" class="button">Texto TEI</a>
  </div>
<!--div class="column row">
    <h2>Contenidos</h2>
    {{!--#[@reverse]}}
        {{#hasBook}}
            {{p this.[@id]}}
        {{/hasBook}}
    {{/[@reverse]--}}
</div-->

